*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

#header{
background-color: white;
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#header img{
    color: #0B65C6;
    width: 2.5rem;
    height: 2.5rem;
}


/* information section */


#dapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    color: #0B65C6;
}

#dapp h2{
    margin-bottom: 10px;
}

#dapp p{
    font-size: 12px;
    font-weight: 200;
}



/* images and modal section */





.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 30px;
}
.grid .btn{
    border: none;
background-color: white;
cursor: pointer;


}


.btn img{
    width: 5rem;
    height: 5rem;
    transition: transform 0.4s ease;
}

.btn img:hover{
    transform: scale(1.1);
}
.btn h4{
    color:  #0B65C6; ;
font-size: 12px;
font-weight: 300;
}


/* modal class */


.modal{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show{
    display: block;
}

.modal .center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}

.modal .center .incase{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
   
    width: 50%;
}

.modal .center .incase .address{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: #0B65C6;
    border-bottom: 1px solid gray;
}


.modal .center .incase .input{
padding: 10px 0;
border-bottom: 1px solid grey;
}

.modal .center .incase input{
    background-color: #fff;
    color: #0B65C6;
    border: 2px solid #0B65C6 !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 2.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #0B65C6;
}

.modal .center .incase input:focus{
    border: 2px solid #0B65C6;
}
 .modal .center .incase input:focus{
    outline: none;
 }

.modal .center .incase .connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.modal .center .incase .connect small{
    font-size: 8px;
    color: grey;
}

.modal .center .incase .connect a button{
    background-color: #0B65C6;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.modal .center .incase .connect a button.clo{
    background-color: white;
    color: #0B65C6;
    border: 1px solid #0B65C6;
    padding: 4px 8px;
}


.center{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    font-weight: 100;
    max-width: 80%;
    margin: 30px auto;
    color: #0B65C6;
}



@media(max-width: 800px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .modal .center .incase{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
       
        width: 50%;
    }
}

@media(max-width: 700px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }

    .btn img{
        width: 2.5rem;
        height: 2.5rem;
     
    }


    .btn h4{
        color:  #0B65C6; ;
    font-size: 10px;
    font-weight: 500;
    }




    .modal .center .incase{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
       
        width: 90%;
    }
}

@media(max-width: 560px){
    .modal .center .incase{
        width: 100%;
    }
    .modal .center .incase .connect small{
        font-size: 7px;
        color: grey;
    }
    
    .modal .center .incase .connect a button{
        background-color: #0B65C6;
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        border: none;
        padding: 4px 8px;
        border-radius: 3px;
        cursor: pointer;
    }
}